/* Circular Book */
@font-face {
  font-family: "Circular Book";
  src: url("http://img.bloc.io/fonts/lineto-circular-book.eot");
  src: url("http://img.bloc.io/fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"), url("http://img.bloc.io/fonts/lineto-circular-book.woff2") format("woff2"), url("http://img.bloc.io/fonts/lineto-circular-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Circular Book Italic */
@font-face {
  font-family: "Circular Book Italic";
  src: url("http://img.bloc.io/fonts/lineto-circular-bookitalic.eot");
  src: url("http://img.bloc.io/fonts/lineto-circular-bookitalic.eot?#iefix") format("embedded-opentype"), url("http://img.bloc.io/fonts/lineto-circular-bookitalic.woff2") format("woff2"), url("http://img.bloc.io/fonts/lineto-circular-bookitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Circular Bold */
@font-face {
  font-family: "Circular Bold";
  src: url("http://img.bloc.io/fonts/lineto-circular-bold.eot");
  src: url("http://img.bloc.io/fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"), url("http://img.bloc.io/fonts/lineto-circular-bold.woff2") format("woff2"), url("http://img.bloc.io/fonts/lineto-circular-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

ul {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 41px;
  letter-spacing: -1px;
  font-family: "Circular Bold", "Questrial", sans-serif;
  font-style: Black;
  color: #3537E6;
  margin: 0;
}

h2 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -1px;
  font-family: "Circular Bold", "Questrial", sans-serif;
  font-style: Black;
  color: #3537E6;
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 39px;
  font-family: "Circular Book", "Questrial", sans-serif;
  font-style: Bold;
  color: #fff;
  margin: 0;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  font-family: "Circular Book", "Questrial", sans-serif;
  font-style: Medium;
  color: #4D4F4D;
  margin: 0;
}

p {
  margin: 0;
  font-family: "Circular Book", "Questrial", sans-serif;
}



/* Bloc header */

.hero-white-backround {
  display: none;
}

.bloc-header a {
  text-decoration: none;
}

.bloc-header {
  width: 100%;
  max-width: 2800px;
}

.header-one-half-left {
  margin-top: 34px;
  margin-bottom: 34px;
  margin-left: 30px;
  width: 50px;
  float: left;
  position: relative;
  transition: 0.5s ease;
}

.header-one-half-right {
  margin-top: 34px;
  margin-bottom: 34px;
  margin-right: 30px;
  width: 122px;
  float: right;
  transition: 0.5s ease;
}

#logo {
  padding-top: 7px;
}

.header-links {
  padding:0 0 10px 60px;
}

.header-links h4 {
  display: none;
}

.log-in-link {
  display: none;
}

.enroll-button {
  width: 122px;
  height: 44px;
  background-color: #F3B64F;
  border-radius: 3px;
  float: right;
}

.enroll-button:hover {
  background-color: rgba(243, 182, 79, .9);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.enroll-button h4 {
  color: #fff;
  text-align: center;
  padding-top: 12px;
  margin: 0 0;
}

@media (min-width: 768px) {
  .hero-white-backround {
    display: block;
    background: #fff;
    z-index: -2;
    width: 100%;
    height: 1500px;
    margin-top: -800px;
  }

  .header-one-half-left {
    width: 400px;
    margin-left: 64px;
    display: -webkit-inline-box;
  }
  .header-one-half-right {
    width: 200px;
    margin-right: 64px;
  }
  .header-links h4 {
    display: inline-block;
    padding-right: 36px;
    margin-top: 12px;
  }
  .log-in-link {
    display: -webkit-inline-box;
    margin-top: 12px;
  }
}

@media (min-width: 2188px) {
  .bloc-header {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Featured Portfolios Section */

.featured-portfolios-section {
  width: 100%;
  display: block;
  position: relative;
  clear: both;
  padding-top: 20px;
  overflow: hidden;
}

.featured-portfolios-section-title {
  width: 233px;
  margin-left: 30px;
  padding: 20px 0 70px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.featured-portfolio {
  position: relative;
}

.featured-background {
  position: absolute;
  margin-top: 240px;
  overflow: hidden;
}

.featured-background img {
  width: 200%;
}

.featured-portfolio img {
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  z-index: 1;
}

.mobile-info-background {
  mix-blend-mode: color-burn;
  overflow: hidden;
  position: absolute;
  display: block;
}

.mobile-info-background-two {
  display: none;
}

.featured-portfolio-mobile-info {
  display: block;
  background-color: #3537E6;
  height: 120px;
  padding-left: 30px;
  z-index: -2;
}

#featured-portfolio-mobile-info-last {
  display: block;
  height: 360px;
}

.featured-portfolio-mobile-info h3 {
  width: 90%;
  padding-top: 10px;
  margin-bottom: -6px;
  z-index: 1;
}

.featured-portfolio-mobile-info p {
  font-style: Medium;
  text-align: left;
  color: #fff;
  width: 90%;
  margin-top: 10px;
  z-index: 1;
}

.featured-portfolio-mobile-city p {
  font-size: 17px;
}

.featured-portfolio-mobile-type {
  text-transform: uppercase;
}

.featured-portfolio-mobile-type p {
  font-size: 16px;
  padding-bottom: 15px;
}

.featured-portfolio-info {
  display: none;
}

@media (min-width: 421px) {
  .mobile-info-background-two {
    mix-blend-mode: color-burn;
    overflow: hidden;
    position: absolute;
    display: block;
    margin-top: 2500px;
  }
}


@media (min-width: 768px) {
  .featured-portfolios-section {
    overflow: visible;
  }

  .featured-portfolios-section-title {
    width: 650px;
    margin-left: 64px;
    padding: 60px 0 120px 0;
  }
  .featured-portfolios-section-title h1 {
    font-size: 95px;
    line-height: 97px;
    letter-spacing: -3px;
  }
  .featured-background {
    margin-top: 320px;
  }
  .featured-portfolio {
    display: inline-block;
    float: left;
    width: 50%;
    overflow: hidden;
  }
  .featured-portfolio-mobile-info {
    display: none;
  }
  #featured-portfolio-mobile-info-last {
    display: none;
  }
  .mobile-info-background {
    display: none;
  }
  .mobile-info-background-two {
    display: none;
  }
  .overlay-featured-info {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .overlay-link:hover .overlay-featured-info {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .pattern {
    background-image: url(../assets/pat-box-yellow.jpg);
    background-repeat: repeat;
    background-size: contain;
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
  }
  .featured-student-photo {
    display: inline-block;
    float: right;
    z-index: 4;
    width: 80%;
    height: 40%;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
    vertical-align: top;
  }
  #amy-d-featured {
    background-image: url(../assets/amy-d.jpg);
  }
  #miri-y-featured {
    background-image: url(../assets/miri-y.jpg);
  }
  #andrew-l-featured {
    background-image: url(../assets/andrew-l.jpg);
  }
  #noelle-l-featured {
    background-image: url(../assets/noelle-l.jpg);
  }
  #edward-l-featured {
    background-image: url(../assets/edward-l.png);
  }
  #megan-r-featured {
    background-image: url(../assets/megan-r.png);
  }
  #ben-h-featured {
    background-image: url(../assets/ben-h.jpg);
  }
  #chris-k-featured {
    background-image: url(../assets/chris-k.jpg);
  }
  #jenny-h-featured {
    background-image: url(../assets/jenny-h.jpg);
  }
  .featured-portfolio-info {
    display: inline-block;
    padding: 15px;
  }
  .featured-portfolio-info p {
    font-size: 11px;
    padding: 10px 0 0 0;
  }
  .featured-portfolio-info p:last-child {
    font-size: 14px;
  }
  .featured-portfolio-info .individual-portfolio-city {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
  }
  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4D4F4D;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .overlay-link:hover .overlay {
    opacity: .9;
  }
}

@media (min-width: 950px) {
  .featured-portfolios-section-title {
    margin-left: 200px;
  }
  .featured-background {
    margin-top: 300px;
  }
  .featured-portfolio-info {
    padding: 25px 15px;
  }
  .featured-portfolio-info h4 {
    font-size: 18px;
  }
  .featured-portfolio-info p {
    font-size: 14px;
  }
  .featured-portfolio-info p:last-child {
    font-size: 16px;
  }
  .featured-portfolio-info .individual-portfolio-city {
    padding-bottom: 15px;
  }
  .featured-portfolio-info .individual-portfolio-city {
    padding-bottom: 25px;
  }
}

@media (min-width: 1150px) {
  .featured-portfolios-section-title {
    width: 800px;
  }
  .featured-background img {
    width: 150%;
  }
  .featured-portfolio-info {
    padding: 30px 20px;
  }
  .featured-portfolio-info h4 {
    font-size: 20px;
  }
  .featured-portfolio-info p {
    font-size: 16px;
    padding-top: 15px;
  }
  .featured-portfolio-info p:last-child {
    font-size: 18px;
  }
  .featured-portfolio-info .individual-portfolio-city {
    padding-bottom: 30px;
  }
}

@media (min-width: 1400px) {
  .featured-portfolio-info {
    padding: 40px 30px;
  }
  .featured-portfolio-info p {
    padding-top: 20px;
  }
  .featured-portfolio-info p:last-child {
    font-size: 22px;
  }
  .featured-portfolio-info .individual-portfolio-city {
    padding-bottom: 40px;
  }
}

@media (min-width: 1600px) {
  .featured-background img {
    width: 100%;
  }
}

@media (min-width: 2160px) {
  .featured-portfolios-section {
    max-width: 2160px;
  }
  .featured-portfolio {
    max-width: 720px;
  }
}

@media (min-width: 1850px) {
  .featured-portfolio-info h4 {
    font-size: 30px;
  }
  .featured-portfolio-info p {
    font-size: 22px;
  }
  .featured-portfolio-info p:last-child {
    font-size: 26px;
  }
}

@media (min-width: 2160px) {
  .featured-portfolio-info {
    padding: 30px 20px;
  }
  .featured-portfolio-info h4 {
    font-size: 22px;
  }
  .featured-portfolio-info p {
    font-size: 16px;
    padding-top: 20px;
  }
  .featured-portfolio-info p:last-child {
    font-size: 20px;
  }
  .featured-portfolio-info .individual-portfolio-city {
    padding-bottom: 30px;
  }
}

@media (min-width: 2188px) {
  .featured-portfolios-section {
    margin-left: auto;
    margin-right: auto;
  }
}


/* More portfolios section title */

.more-portfolios-section {
  position: relative;
  clear: both;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.more-portfolios-section a {
  text-decoration: none;
}

.more-portfolios-background {
  display: none;
}

.more-portfolios-section-title {
  padding: 40px 0 40px 30px;
  margin-top: -246px;
}

.more-portfolios-section-title h2 {
  color: #fff;
  width: 317px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .more-portfolios-section-title {
    background: transparent;
    padding-left: 64px;
  }
  .more-portfolios-section-title h2 {
    font-size: 48px;
    line-height: 66px;
    color: #3537E6;
    width: 650px;
  }
  .more-portfolios-background {
    display: block;
    position: fixed;
    z-index: -3;
    top: 0;
    vertical-align: top;
    margin-top: -300px;
    width: 125%;
  }
  .more-portfolios-background img {
    width: 115%;
    transform: translate3d(-10%, 0, 0);
  }
}

@media (min-width: 950px) {
  .more-portfolios-section-title h2 {
    width: 744px;
  }
  .more-portfolios-section-title {
    padding-left: 200px;
  }
}

@media (min-width: 1600px) {
  .more-portfolios-section-title {
    background: transparent;
    padding-left: 0;
  }
  .more-portfolios-section-title {
    max-width: 2160px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .more-portfolios-section-title h2 {
    width: 850px;
    padding-left: 200px;
  }
}


/* More portfolios section content */

.more-portfolios-layout {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}

.individual-portfolio {
  padding: 18px 0;
}

.individual-portfolio-student-photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position:relative;
  z-index:1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -37px;
}

.individual-portfolio-student-photo img {
  height: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.individual-portfolio-screenshot {
  width: 315px;
  height: 200px;
  overflow: hidden;
  border-top: 2px solid #CBEBCB;
  border-right: 2px solid #CBEBCB;
  border-left: 2px solid #CBEBCB;
}

.individual-portfolio:hover .individual-portfolio-screenshot {
  border-top: 2px solid #3537E6;
  border-right: 2px solid #3537E6;
  border-left: 2px solid #3537E6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.individual-portfolio-screenshot img {
  width: 315px;
}

.individual-portfolio-info {
  height: 108px;
  width: 315px;
  border-right: 2px solid #CBEBCB;
  border-bottom: 2px solid #CBEBCB;
  border-left: 2px solid #CBEBCB;
  background: #fff;
}

.individual-portfolio:hover .individual-portfolio-info {
  border-right: 2px solid #3537E6;
  border-bottom: 2px solid #3537E6;
  border-left: 2px solid #3537E6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.individual-portfolio-info h3 {
  font-size: 18px;
  color: #4D4F4D;
  padding: 8px 0 0 20px;
}

.individual-portfolio-city {
  font-size: 16px;
  color: #77B6AA;
  padding-left: 20px;
}

.individual-portfolio-type {
  font-size: 14px;
  letter-spacing: 18%;
  text-transform: uppercase;
  color: #3537E6;
  padding: 1px 0 10px 20px;
}

.page-buttons-container {
  height: 104px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1676px;
}

.portfolio-page-button {
  width: 122px;
  height: 44px;
  background-color: #3537E6;
  border-radius: 3px;
}

.portfolio-page-button:hover {
  background-color: rgba(53, 55, 230, .9);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio-page-button h4 {
  color: #fff;
  text-align: center;
  padding-top: 12px;
  margin: 0 0;
}

.previous-button {
  float: left;
}

.next-button {
  float: right;
}

@media (min-width: 768px) {
  .page-buttons-container {
    height: 144px;
  }
}

@media (min-width: 850px) {
  .more-portfolios-layout {
    width: 90%;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 64px;
    flex-direction: row;
    justify-content: space-between;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .individual-portfolio {
    padding-right: 64px;
  }
}

@media (min-width: 950px) {
  .individual-portfolio-student-photo {
    width: 88px;
    height: 88px;
    margin-bottom: -44px;
  }
  .individual-portfolio-student-photo img {
    height: 88px;
  }
}

@media (min-width: 1850px) {
  .previous-button {
    margin-left: 0;
  }
  .next-button {
    margin-right: 0;
  }
}

@media (min-width: 2100px) {
  .more-portfolios-layout {
    max-width: 1740px;
  }
}


/* Footer */

.footer a {
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
}

.footer a:hover {
  color: #DADADA;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container{max-width:1295px;margin-left:auto;margin-right:auto}

.container::after{clear:both;content:"";display:table}

.row{display:block}.row::after{clear:both;content:"";display:table}

@media screen and (min-width: 320px) {
  .c-s--1{float:left;display:block;margin-right:10.20408%;width:17.34694%}
  .c-s--1:last-child{margin-right:0}
  .c-s--2{float:left;display:block;margin-right:10.20408%;width:44.89796%}
  .c-s--2:last-child{margin-right:0}
  .c-s--3{float:left;display:block;margin-right:10.20408%;width:72.44898%}
  .c-s--3:last-child{margin-right:0}
}

@media screen and (min-width: 320px) {
  .co-s--1{margin-left:27.55102%}
  .co-s--2{margin-left:55.10204%}
  .co-s--3{margin-left:82.65306%}
}

@media screen and (min-width: 720px) {
  .c-m--1{float:left;display:block;margin-right:4.29185%;width:7.29614%}
  .c-m--1:last-child{margin-right:0}
  .c-m--2{float:left;display:block;margin-right:4.29185%;width:18.88412%}
  .c-m--2:last-child{margin-right:0}
  .c-m--3{float:left;display:block;margin-right:4.29185%;width:30.4721%}
  .c-m--3:last-child{margin-right:0}
  .c-m--4{float:left;display:block;margin-right:4.29185%;width:42.06009%}
  .c-m--4:last-child{margin-right:0}
  .c-m--5{float:left;display:block;margin-right:4.29185%;width:53.64807%}
  .c-m--5:last-child{margin-right:0}
  .c-m--6{float:left;display:block;margin-right:4.29185%;width:65.23605%}
  .c-m--6:last-child{margin-right:0}
  .c-m--7{float:left;display:block;margin-right:4.29185%;width:76.82403%}
  .c-m--7:last-child{margin-right:0}
  .c-m--8{float:left;display:block;margin-right:4.29185%;width:88.41202%}
  .c-m--8:last-child{margin-right:0}
}

@media screen and (min-width: 720px) {
  .co-m--1{margin-left:11.58798%}
  .co-m--2{margin-left:23.17597%}
  .co-m--3{margin-left:34.76395%}
  .co-m--4{margin-left:46.35193%}
  .co-m--5{margin-left:57.93991%}
  .co-m--6{margin-left:69.5279%}
  .co-m--7{margin-left:81.11588%}
  .co-m--8{margin-left:92.70386%}
}

@media screen and (min-width: 1024px) {
  .c-l--1{float:left;display:block;margin-right:3.18471%;width:5.41401%}
  .c-l--1:last-child{margin-right:0}
  .c-l--2{float:left;display:block;margin-right:3.18471%;width:14.01274%}
  .c-l--2:last-child{margin-right:0}
  .c-l--3{float:left;display:block;margin-right:3.18471%;width:22.61146%}
  .c-l--3:last-child{margin-right:0}
  .c-l--4{float:left;display:block;margin-right:3.18471%;width:31.21019%}
  .c-l--4:last-child{margin-right:0}
  .c-l--5{float:left;display:block;margin-right:3.18471%;width:39.80892%}
  .c-l--5:last-child{margin-right:0}
  .c-l--6{float:left;display:block;margin-right:3.18471%;width:48.40764%}
  .c-l--6:last-child{margin-right:0}
  .c-l--7{float:left;display:block;margin-right:3.18471%;width:57.00637%}
  .c-l--7:last-child{margin-right:0}
  .c-l--8{float:left;display:block;margin-right:3.18471%;width:65.6051%}
  .c-l--8:last-child{margin-right:0}
  .c-l--9{float:left;display:block;margin-right:3.18471%;width:74.20382%}
  .c-l--9:last-child{margin-right:0}
  .c-l--10{float:left;display:block;margin-right:3.18471%;width:82.80255%}
  .c-l--10:last-child{margin-right:0}
  .c-l--11{float:left;display:block;margin-right:3.18471%;width:91.40127%}
  .c-l--11:last-child{margin-right:0}
}

@media screen and (min-width: 1024px) {
  .co-l--1{margin-left:8.59873%}
  .co-l--2{margin-left:17.19745%}
  .co-l--3{margin-left:25.79618%}
  .co-l--4{margin-left:34.3949%}
  .co-l--5{margin-left:42.99363%}
  .co-l--6{margin-left:51.59236%}
  .co-l--7{margin-left:60.19108%}
  .co-l--8{margin-left:68.78981%}
  .co-l--9{margin-left:77.38854%}
  .co-l--10{margin-left:85.98726%}
  .co-l--11{margin-left:94.58599%}
}

.bg--blue-base{background-color:#519DF0;-webkit-transition:background 0.3s ease;transition:background 0.3s ease}

.bg-h--blue-base:hover{background-color:#519DF0}

.bg--blue-dark{background-color:#1B3467;-webkit-transition:background 0.3s ease;transition:background 0.3s ease}

.bg-h--blue-dark:hover{background-color:#1B3467}

.bg--blue-alt{background-color:#588BA4;-webkit-transition:background 0.3s ease;transition:background 0.3s ease}

.bg-h--blue-alt:hover{background-color:#588BA4}

.m-bottom--15{margin-bottom:15px}.p-bottom--15{padding-bottom:15px}.m-left--15{margin-left:15px}

.tt--uppercase{text-transform:uppercase}

.tc--yellow-base{
  color:#FDB431;
  font-family: "Circular Book", "Questrial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
}

.tc--white-base{
  color:#FFFFFF;
  font-family: "Circular Book", "Questrial", sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
}

.ls--2-5{letter-spacing:2.5px}

.fs--12{font-size:0.8rem}.fw--bold{font-family:"Circular Bold", "Questrial", Helvetica, sans-serif}

.d--block{display:block}

.m-bottom--120{margin-bottom:120px}

.p-bottom--120{padding-bottom:120px}

.m-left--120{margin-left:120px}

.p-left--120{padding-left:120px}

.m-right--120{margin-right:120px}

.p-right--120{padding-right:120px}

.m-top--120{margin-top:120px}

.p-top--120{padding-top:120px}

.m--90{margin:90px}

.p--90{padding:90px}

.m-bottom--90{margin-bottom:90px}

.p-bottom--90{padding-bottom:90px}

.m-left--90{margin-left:90px}

.p-left--90{padding-left:90px}

.m-right--90{margin-right:90px}

.p-right--90{padding-right:90px}

.m-top--90{margin-top:90px}

.p-top--90{padding-top:90px}

.m--60{margin:60px}

.p--60{padding:60px}

.m-bottom--60{margin-bottom:60px}

.p-bottom--60{padding-bottom:60px}

.m-left--60{margin-left:60px}

.p-left--60{padding-left:60px}

.m-right--60{margin-right:60px}

.p-right--60{padding-right:60px}

.m-top--60{margin-top:60px}

.p-top--60{padding-top:60px}

.m--30{margin:30px}

.p--30{padding:30px}

.m-bottom--30{margin-bottom:30px}

.p-bottom--30{padding-bottom:30px}

.m-left--30{margin-left:30px}

.p-left--30{padding-left:30px}

.m-right--30{margin-right:30px}

.p-right--30{padding-right:30px}

.m-top--30{margin-top:30px}

.p-top--30{padding-top:30px}

.m--15{margin:15px}.p--15{padding:15px}

.m-bottom--15{margin-bottom:15px}

.p-bottom--15{padding-bottom:15px}

.m-left--15{margin-left:15px}

.p-left--15{padding-left:15px}

.m-right--15{margin-right:15px}

.p-right--15{padding-right:15px}

.m-top--15{margin-top:15px}

.p-top--15{padding-top:15px}

.m--10{margin:10px}

.p--10{padding:10px}

.m-bottom--10{margin-bottom:10px}

.p-bottom--10{padding-bottom:10px}

.m-left--10{margin-left:10px}

.p-left--10{padding-left:10px}

.m-right--10{margin-right:10px}

.p-right--10{padding-right:10px}

.m-top--10{margin-top:10px}

.p-top--10{padding-top:10px}

.m--5{margin:5px}

.p--5{padding:5px}

.m-bottom--5{margin-bottom:5px}

.p-bottom--5{padding-bottom:5px}

.m-left--5{margin-left:5px}

.p-left--5{padding-left:5px}

.m-right--5{margin-right:5px}

.p-right--5{padding-right:5px}

.m-top--5{margin-top:5px}

.p-top--5{padding-top:5px}

.m--0{margin:0}.p--0{padding:0}

.m-bottom--0{margin-bottom:0}

.p-bottom--0{padding-bottom:0}

.m-left--0{margin-left:0}

.p-left--0{padding-left:0}

.m-right--0{margin-right:0}

.p-right--0{padding-right:0}
