/* Circular Book */
@font-face {
  font-family: "Circular Book";
  src: url("lineto-circular-book.eot");
  src: url("lineto-circular-book.eot?#iefix") format("embedded-opentype"), url("lineto-circular-book.woff2") format("woff2"), url("lineto-circular-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Circular Book Italic */
@font-face {
  font-family: "Circular Book Italic";
  src: url("lineto-circular-bookitalic.eot");
  src: url("lineto-circular-bookitalic.eot?#iefix") format("embedded-opentype"), url("lineto-circular-bookitalic.woff2") format("woff2"), url("lineto-circular-bookitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Circular Bold */
@font-face {
  font-family: "Circular Bold";
  src: url("lineto-circular-bold.eot");
  src: url("lineto-circular-bold.eot?#iefix") format("embedded-opentype"), url("lineto-circular-bold.woff2") format("woff2"), url("lineto-circular-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}